<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="open_rviz" default="true" />
  <arg name="multi_robot_name" default=""/>
  <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>
  
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch"  />
  <node name="lab2" pkg="lab2" type="lab2.py"/>
</launch>
